<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<h2>Detalles del Artista</h2>
		<div class="card">
			<div class="card-header text-white bg-secondary">Datos del Artista</div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item" th:text="'ID : '+${person.id}"></li>
					<li class="list-group-item" th:text="'Nombre : '+${person.firstName}"></li>
					<li class="list-group-item" th:text="'Apellido : '+${person.lastName}"></li>
					<li class="list-group-item" th:text="'Dni : '+${person.dni}"></li>
					<li class="list-group-item" th:text="'Correo : '+${person.email}"></li>
					<li class="list-group-item" th:text="'Celular : '+${person.phone}"></li>
				</ul>
				<br/>
				<a th:href="@{/persons/list}" class="btn btn-success">Regresar</a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>